extends layout

block content
  header
    h1= title
  main
    h3 Password Change
    br
    br
    form(action='/changePassword', method='post')
      input(type='hidden', name='username', value=user.USER_ID)
      input(type='password', name='password', placeholder='Enter your old password')
      br
      br
      input(type='password', name='newpassword', placeholder='Enter your new password')
      br
      br
      button(type='submit') Change